= form_for @dataset do |f|
  .form-group
    %label.col-md-4.control-label{for: "name"}
      Name (unique)
    = f.text_field :name, class: 'form-control'
    %label.col-md-4.control-label{for: "name"}
      Description
    = f.text_area :description, class: 'form-control'
  .form-group#s3_dataset-form
    %label.col-md-4.control-label{for: "bucket_name"} Bucket Name
    = f.text_field :bucket_name, class: 'form-control'
    %label.col-md-4.control-label{for: "prefix"} Prefix
    = f.text_field :prefix, class: 'form-control'
    = f.hidden_field :type
  .form-group
    = f.submit 'Create', class: 'btn btn-primary'
