.col-lg-6.col-md-12
  %h3
    = link_to dataset.name, dataset_path(dataset)
  %p
    = dataset.description
  %ul
    %li
      = "Bucket Name: #{dataset.bucket_name}"
    %li
      = "Prefix: #{dataset.prefix}"
.col-lg-6.col-md-12
  - image_sample_urls_for_dataset(dataset, num_urls=10).each do |url|
    = image_tag url, width: 100, height: 100
