!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title tatami
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = stylesheet_link_tag    '//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/default.min.css', media: 'all'
    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js'
    %script
      hljs.initHighlightingOnLoad();
  %body
    %nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse
      = render 'layouts/topnavbar'

    #wrapper.container
      = yield
